bin/
.settings/

# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

/.idea/
/rest-server/.settings/
/rest-test/.settings/
/rest-server/rest-server.iml
/rest-test/rest-test.iml
/rest-server/target/
/API-Java-Base.iml
